 {% extends 'template.html.twig' %} 
 {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="img-thumbnail">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-l4">
                        <div class="card-image">
                            <img src="https://www.aramisauto.com/bundles/aramisfront/images/all/vehicle-categories/pictos-voiture-routiere.svg" alt="..." width="" height="" class="img-thumbnail avatar img-responsive">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div>
                            <div>
                                <span>{{voiture.0.5.marque}}</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et odio tempore sapiente, nulla debitis ad voluptatum neque, laudantium libero ipsam possimus qui sint quo eveniet. Minus aliquid dignissimos, alias at?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-bordered table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Marque :</th>
                                <td>{{voiture.0.5.marque}}</td>
                            </tr>
                            <tr>
                                <th>Désignation commerciale :</th>
                                <td>{{voiture.0.5.dscom}}</td>
                            </tr>
                            <tr>
                                <th>Technologie (Essence, Hybride) :</th>
                                <td>{{voiture.0.5.type_carb}}</td>
                            </tr>
                            <tr>
                                <th>Puissance admin :</th>
                                <td>{{voiture.0.5.puiss_admin}}</td>
                            </tr>
                            <tr>
                                <th>Type de boîte :</th>
                                <td>{{voiture.0.5.boite_rapport}}</td>
                            </tr>
                            <tr>
                                <th>Consommation urbaine :</th>
                                <td>{{voiture.0.5.conso_urb}}</td>
                            </tr>
                            <tr>
                                <th>Consommation non-urbaine :</th>
                                <td>{{voiture.0.5.conso_ext}}</td>
                            </tr>
                            <tr>
                                <th>Consommation mixte :</th>
                                <td>{{voiture.0.5.conso_mixte}}</td>
                            </tr>
                            <tr>
                                <th>Classe Energie (A, B, etc) :</th>
                                <td>{{energie.0.label}}</td>
                            </tr>
                            <tr>
                                <th>CO² g/km :</th>
                                <td>{{voiture.0.5.co2}}</td>
                            </tr>
                            <tr>
                                <th>Bonus :</th>
                                <td>{{bonus.0.montant}}</td>
                            </tr>
                            <tr>
                                <th>Malus :</th>
                                <td>{{malus.0.montant}} €</td>
                            </tr>
                            <tr>
                                <th>Carrosserie :</th>
                                <td>{{voiture.0.5.carrosserie}}</td>
                            </tr>
                            <tr>
                                <th>Gamme :</th>
                                <td>{{voiture.0.5.gamme}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
